.p-cloud__main {
  height: 110px;
}

.p-cloud__main--lkumo {
  position: absolute;
  width: 147px;
  height: 86px;
  left: -111px;
  top: -51px;
}

.p-cloud__main--rkumo {
  position: absolute;
  width: 272px;
  height: 110px;
  right: -118px;
  top: -64px;
}