.p-grn__about {
  position: absolute;
  overflow: hidden;
  top: -15px;
  left: 0;
  right: 0;
  width: 100%;
  height: 250px;
  z-index: 100;
}

.p-grn__about--lgrn {
  position: absolute;
  width: 265px;
  height: 100px;
  z-index: 20;
  right: calc(50% + 430px);
}

.p-grn__about--rgrn {
  position: absolute;
  width: 181px;
  height: 76px;
  z-index: 20;
  left: calc(50% + 510px);
}