.p-inner__header {
  position: relative;
  text-align: center;
  background-image: url("/assets/image/header_illust_bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 480px 91px;
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 35px;
}
@media screen and (max-width: 800px) {
  .p-inner__header.-pc {
    display: none !important;
  }

  .p-sp.-on {
    display: flex !important;
    position: relative;
    text-align: center;
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
    padding: 35px 0 30px;
    background-image: url("/assets/image/header_illust_bg.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 480px 91px;
  }
}

.p-inner__header--bird01 {
  position: absolute;
  width: 55px;
  left: 80px;
}

.p-inner__header--bird02 {
  position: absolute;
  width: 57px;
  top: 59px;
  left: 140px;
}

.p-inner__header--bird03 {
  position: absolute;
  width: 57px;
  top: 15px;
  left: 300px;
}

.p-inner__header--logoillust {
  display: inline-block;
  width: 164px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .p-inner__about {
    width: 100%;
    background-image: url("/assets/image/top_about_ctbg_sp.jpg");
    background-position: center 90px;
    background-repeat: repeat-y;
    background-size: 800px 527px;
    overflow: hidden;
    position: relative;
  }
}

.p-inner__footer {
  position: relative;
  background: #eeeeee;
  height: 430px;
  padding-top: 30px;
  padding-top: 20px;
  box-sizing: border-box;
}

.p-inner__footer::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -6px;
  width: 100%;
  height: 430px;
  background-image: url("/assets/image/footer_illust_bg2.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
}

/*
.  {
  display: flex;
  box-sizing: border-box;
  max-width: 1080px;
  width: 100%;
  margin: 5px auto 0 auto;
  padding: 0 15px;
}
*/
