.p-nav {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0;
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.p-nav__item {
  display: inline-block;
  position: relative;
  text-align: center;
  width: calc(100% / 6 - 45px);
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    top: 36px;
    left: 0;
    width: 0;
    height: 50px;
    border-left: 1px dotted #d2d2d2;
  }
}

.p-nav_sp {
  display: none;
}

.p-nav__item--illust01 {
  width: 55px;
  height: 56px;
}

.p-nav__item--illust02 {
  width: 80px;
  height: 46px;
}

.p-nav__item--illust03 {
  width: 75px;
  height: 48px;
}

.p-nav__item--illust04 {
  width: 53px;
  height: 50px;
}

.p-nav__item--illust05 {
  width: 65px;
  height: 57px;
}

.p-nav__item--illust06 {
  width: 57px;
  height: 52px;
}

.p-nav__title {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  margin-bottom: 8px;
}
