.p-smenu {
  display: none;

  @media screen and (max-width: 800px) {
    width: 24px;
    height: 30px;
    position: absolute;
    top: 140px;
    right: calc(8% - 12px);
    cursor: pointer;
    z-index: 9998;
  }
}