.p-textarea h2 {
  color: #0d6fb8;
  font-weight: 700;
  font-size: 37px;
  margin: 40px 0 20px;
  text-align: center;
}

.p-textarea p {
  font-size: 15px;
  line-height: 26px;
  width: calc(100% - 30px);
  padding-left: 20px;
  margin-bottom: 14px;
  color: #333;

  @media screen and (max-width: 800px) {
    font-size: 12px;
    line-height: 18px;
    width: calc(100% - 10px);
    padding-left: 10px;
    margin-bottom: 10px;
  }
}