.p-trbox__about {
  display: flex;
  width: calc(100% - 30px);
  background: #ffffff;
  margin: 30px auto 10px;
  padding: 20px 20px 30px;
  box-sizing: border-box;
  max-width: 1080px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;

  @media screen and (max-width: 800px) {
    display: block;
    border-radius: 5px;
    margin: 26px auto 10px;
    padding: 12px 12px 24px;
    z-index: 100;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
}

.p-trbox__about01,
.p-trbox__about02,
.p-trbox__about03 {
  width: 32.7%;
  display: block;
  position: relative;

  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

.p-trbox__about01,
.p-trbox__about02 {
  @media screen and (max-width: 800px) {
    margin-bottom: 34px;
  }
}

.p-trbox__01 {
  display: block;
  position: absolute;
  top: 0;
  right: 145px;
  width: 135px;
  height: 115px;
  background-image: url("/assets/image/tr_link_01bg.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-color: #bde1ab;
  margin-right: 15px;

  @media screen and (max-width: 1300px) {
    right: 160px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 13px;
    background-image: url("/assets/image/tr_link_01icon.png");
    background-size: cover;
    background-repeat: repeat-x;
    background-position: top center;
    width: 55px;
    height: 47px;
    margin: auto;
  }
}

.p-trbox__02 {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 135px;
  height: 115px;
  background-image: url("/assets/image/tr_link_02bg.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-color: #98d5e1;

  @media screen and (max-width: 1300px) {
    right: 15px;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("/assets/image/tr_link_02icon.png");
    background-size: cover;
    background-repeat: repeat-x;
    background-position: top center;
    width: 43px;
    height: 52px;
    left: 0;
    right: 0;
    top: 13px;
    margin: auto;
  }
}



.p-trbox__text {
  text-align: center;
  color: #0d6fb8;
  font-size: 20px;
  font-weight: 900;
  padding-top: 85px;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
}




.p-trbox__about > .p-trbox__about01 > .p-bximg::after {
  content: "";
  display: block;
  width: 73px;
  height: 62px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  bottom: -25px;
  margin: auto;
  background-image: url("/assets/image/trbox_icon01.png");
  background-size: cover;
}

.p-trbox__about > .p-trbox__about02 > .p-bximg::after {
  content: "";
  display: block;
  width: 65px;
  height: 78px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  bottom: -25px;
  margin: auto;
  background-image: url("/assets/image/trbox_icon02.png");
  background-size: cover;
}

.p-trbox__about > .p-trbox__about03 > .p-bximg::after {
  content: "";
  display: block;
  width: 59px;
  height: 64px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  bottom: -20px;
  margin: auto;
  background-image: url("/assets/image/trbox_icon03.png");
  background-size: cover;
}