.c-btn__pagetop {
  display: block;
  position: absolute;
  top: -25px;
  z-index: 500;
  text-transform: uppercase;
  left: calc(50% + 550px);
  width: 58px;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  color: #0d6fb8;

  @media screen and (max-width: 1280px) {
    left: auto;
    right: 30px;
  }
}

.c-btn__link {
  width: 100%;
  max-width: 300px;
  display: block;
  position: relative;
  width: 300px;
  height: 40px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 700;
  color: #ef9998;
  border: 3px solid #ef9998;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background: #fff;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;

  @media screen and (max-width: 800px) {
    width: 100%;
    height: 34px;
    margin: 0 auto;
    font-size: 11px;
    border: 2px solid #ef9998;
    -moz-border-radius: 34px;
    -webkit-border-radius: 34px;
    border-radius: 34px;
    padding-top: 10px;
  }
}

.c-btn__link--sml {
  width: calc(100% - 20px);
  display: block;
  position: relative;
  height: 40px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 700;
  color: #ef9998;
  border: 3px solid #ef9998;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background: #fff;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;

  @media screen and (max-width: 980px) {
    width: 100%;
  }

  @media screen and (max-width: 800px) {
    width: 100%;
    height: 34px;
    margin: 0 auto;
    font-size: 11px;
    border: 2px solid #ef9998;
    -moz-border-radius: 34px;
    -webkit-border-radius: 34px;
    border-radius: 34px;
    padding-top: 10px;
  }
}
