.c-cmaplink {
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 30px;
  text-align: center;
  background: #fff;
  border: 2px solid #333;
  font-size: 14px;
  font-weight: 700;
  color: #333;
  padding-top: 6px;
  box-sizing: border-box;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
