.c-logo_entitle {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  color: #0d6fb8;
}

.c-logo__text {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 270px;

  img {
    display: inline-block;
    text-align: center;
    width: 195px;
    height: 71px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 0;
    height: 50px;
    border-left: 1px dotted #d2d2d2;
  }
}
