.c-phone {
  font-size: 36px;
  width: 280px;
  margin: 0 auto;
  font-weight: 700;
  padding-left: 30px;
  box-sizing: border-box;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 4px;
    width: 25px;
    height: 32px;
    background: url(/assets/image/footer_tell_icon.png);
    background-size: cover;
  }
}