.c-top_about_tpbg {
  width: 100%;

  &::before {
    content: url("/assets/image/top_about_illust.png");
    position: absolute;
    width: 100%;
    bottom: -20px;
    background-repeat: no-repeat;
    background-position: bottom center;
    text-align: center;
  }
}