body {
  margin: 0;
  font: normal normal normal 62.5%/1 "GENJ", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    "Open Sans", osaka, Arial, Verdana, sans-serif;
  padding: 0;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  color: #333;
  text-rendering: optimizeLegibility;
  font-feature-settings: "palt" 1;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

img {
  width: 100%;
  vertical-align: bottom;
  -ms-interpolation-mode: bicubic;
  interpolation-mode: bicubic;
  -webkit-backface-visibility: hidden;
  image-rendering: crisp-edges;
  -webkit-image-rendering: crisp-edges;
}

li {
  list-style: none;
}

p {
  display: block;
}
