.p-bfbox__about {
  width: calc(100% - 30px);
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px 20px 30px;
  background: #ffffff;
  padding: 20px 20px 30px;
  box-sizing: border-box;
  max-width: 1080px;
}

@media screen and (max-width: 800px) {
  .p-bfbox__about {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 12px 12px 3px;
  }
}

@media screen and (max-width: 550px) {
  .p-bfbox__about {
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.p-bfbox__about--01,
.p-bfbox__about--02,
.p-bfbox__about--03,
.p-bfbox__about--04,
.p-bfbox__about--05 {
  display: inline-block;
  width: 19%;
  margin-left: 5px;
  position: relative;
}

@media screen and (max-width: 550px) {
  .p-bfbox__about--01,
  .p-bfbox__about--02,
  .p-bfbox__about--03,
  .p-bfbox__about--04,
  .p-bfbox__about--05 {
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 15px;
  }
}

.p-bfbox__about--textarea {
  position: relative;
}

.p-bfbox__about--textarea h2 {
  font-size: 18px;
  color: #0d6fb8;
  font-weight: 700;
  margin: 40px 0 12px;
  text-align: center;
}

@media screen and (max-width: 550px) {
  .p-bfbox__about--textarea h2 {
    font-size: 14px;
    margin: 0 0 8px;
  }
}

.p-bfbox__about--textarea p {
  font-size: 15px;
  line-height: 22px;
  width: calc(100% - 10px);
  padding-left: 10px;
  margin-bottom: 14px;
  color: #333;
}

@media screen and (max-width: 800px) {
  .p-bfbox__about--textarea p {
    font-size: 12px;
    line-height: 15px;
    width: 100%;
    padding-left: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 550px) {
  .p-bfbox__about--textarea {
    display: inline-block;
    width: calc(49% - 15px);
    padding: 36px 0 0 0;
    margin-left: 15px;
    box-sizing: border-box;
  }
}

.p-bfbox__about > .p-bfbox__about--01 > .p-bximg__about::after {
  content: "";
  display: block;
  width: 51px;
  height: 51px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  top: 167px;
  margin: auto;
  background-image: url("/assets/image/bfbox_icon01.png");
  background-size: cover;
}

.p-bfbox__about > .p-bfbox__about--02 > .p-bximg__about::after {
  content: "";
  display: block;
  width: 48px;
  height: 44px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  top: 167px;
  margin: auto;
  background-image: url("/assets/image/bfbox_icon02.png");
  background-size: cover;
}

.p-bfbox__about > .p-bfbox__about--03 > .p-bximg__about::after {
  content: "";
  display: block;
  width: 60px;
  height: 48px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  top: 167px;
  margin: auto;
  background-image: url("/assets/image/bfbox_icon03.png");
  background-size: cover;
}

.p-bfbox__about > .p-bfbox__about--04 > .p-bximg__about::after {
  content: "";
  display: block;
  width: 37px;
  height: 58px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  top: 167px;
  margin: auto;
  background-image: url("/assets/image/bfbox_icon04.png");
  background-size: cover;
}

.p-bfbox__about > .p-bfbox__about--05 > .p-bximg__about::after {
  content: "";
  display: block;
  width: 50px;
  height: 58px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  top: 167px;
  margin: auto;
  background-image: url("/assets/image/bfbox_icon05.png");
  background-size: cover;
}

@media screen and (max-width: 550px) {
  .p-bfbox__about > .p-bfbox__about--01 > .p-bfbox__about--textarea::after {
    content: "";
    display: block;
    width: 26px;
    height: 26px;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background-image: url("/assets/image/bfbox_icon01.png");
    background-size: cover;
  }
  .p-bfbox__about > .p-bfbox__about--02 > .p-bfbox__about--textarea::after {
    content: "";
    display: block;
    width: 24px;
    height: 23px;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background-image: url("/assets/image/bfbox_icon02.png");
    background-size: cover;
  }
  .p-bfbox__about > .p-bfbox__about--03 > .p-bfbox__about--textarea::after {
    content: "";
    display: block;
    width: 30px;
    height: 25px;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background-image: url("/assets/image/bfbox_icon03.png");
    background-size: cover;
  }
  .p-bfbox__about > .p-bfbox__about--04 > .p-bfbox__about--textarea::after {
    content: "";
    display: block;
    width: 19px;
    height: 30px;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background-image: url("/assets/image/bfbox_icon04.png");
    background-size: cover;
  }
  .p-bfbox__about > .p-bfbox__about--05 > .p-bfbox__about--textarea::after {
    content: "";
    display: block;
    width: 25px;
    height: 30px;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background-image: url("/assets/image/bfbox_icon05.png");
    background-size: cover;
  }
}
