.p-bird__about--lbird {
  position: absolute;
  top: 200px;
  left: calc(50% + 366px);
  width: 126px;
}

.p-bird__about--rbird {
  position: absolute;
  width: 62px;
  top: 170px;
  left: calc(50% + 523px);
}
