.p-bximg__about {
  display: block;
  width: 100%;
  background-position: center center;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  border-radius: 10px 10px 0 0;
  margin: 0 auto;
}

.p-bximg {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  z-index: 1;
  position: relative;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
}
