.c-contactlink {
  display: block;
  margin: 38px auto 28px;
  width: 300px;
  height: 60px;
  text-align: center;
  background: #fff;
  border: 3px solid #036eb6;
  font-size: 18px;
  font-weight: 700;
  color: #036eb6;
  padding-top: 18px;
  box-sizing: border-box;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
}
