#l-footer {
  width: 100%;
  position: absolute;
  margin: 0;
  background-image: url("/assets/image/footer_illust_bg2.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background: #eeeeee;
}

#l-footer::before {
  content: "";
  position: absolute;
  bottom: -105px;
  display: block;
  background: url("/assets/image/footer_nami.png");
  width: 100%;
  height: 60px;
  background-position: bottom center;
  text-align: center;
  margin: 0;
  left: 0;
  top: -50px;
}

#l-footer::after {
  content: "";
  display: block;
  width: 164px;
  height: 91px;
  position: absolute;
  left: 0;
  right: 0;
  top: -85px;
  margin: auto;
  background: url("/assets/image/logo_illust.png");
  background-size: cover;
}
