#l-header {
  position: relative;
  z-index: 500;
  background-image: url("/assets/image/header_top_bg.png");
  background-repeat: repeat-x;
  background-position: top center;
  margin: 0;
}

#l-header::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -12px;
  height: 12px;
  width: 100%;
  background-image: url("/assets/image/menu_u_nami.png");
  background-position: center;
  background-repeat: repeat-x;
}

@media screen and (max-width: 800px) {
  #l-header {
    background-image: url("/assets/image/header_top_bg_sp.png");
    background-position: top center;
    background-repeat: repeat-x;
    background-size: 728px 34px;
  }
}
