#l-main {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 800px;
  background-image: url("/assets/image/main01.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  margin: 0;
}

#l-main::after {
  content: "";
  position: absolute;
  bottom: -75px;
  background-image: url("/assets/image/main_bottom_bg.png");
  width: 100%;
  height: 176px;
  background-repeat: repeat-x;
  background-position: bottom center;
  text-align: center;
  z-index: 200;
  margin: 0;
}
