.p-nami__tnami {
  background: #7fc6ee;
  height: 30px;
  width: 100%;
  position: relative;
  margin: 53px 0 0;
}

.p-nami__tnami::before {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: -16px;
  left: 0;
  background: url(/assets/image/footer_t_nami.png) repeat-x 0 0;
  width: 100%;
  height: 16px;
  overflow: hidden;
  animation: loop 150s linear infinite;
}

.p-nami__unami {
  background: #0d6fb8;
  height: 53px;
  width: 100%;
  position: relative;
  margin: 0;
  padding-top: 24px;
  box-sizing: border-box;
}

.p-nami__unami::before {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: -16px;
  left: 0;
  background: url(/assets/image/footer_u_nami.png) repeat-x 0 0;
  width: 100%;
  height: 16px;
  overflow: hidden;
  -moz-animation: loop 100s linear infinite;
  animation: loop 100s linear infinite;
}
