@charset "UTF-8";
.p-topic__txbox01,
.p-topic__txbox02,
.p-topic__txbox03,
.p-topic__txbox04 {
  position: relative;
  width: 100%;
  background: #fff;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  padding: 30px 20px 20px;
  box-sizing: border-box;
}

.p-topic__txbox01::before {
  content: "今日のどろんこ";
  background: #f3aaa9;
  color: #fff;
  padding: 10px 14px 9px;
  border-radius: 5px;
  position: absolute;
  top: -15px;
  left: 20px;
  font-size: 12px;
  font-weight: 700;
}

.p-topic__txbox02::before {
  content: "園長先生の今日の一曲";
  background: #6bba6e;
  color: #fff;
  padding: 10px 14px 9px;
  border-radius: 5px;
  position: absolute;
  top: -15px;
  left: 20px;
  font-size: 12px;
  font-weight: 700;
}

.p-topic__txbox03::before {
  content: "お知らせ";
  background: #999999;
  color: #fff;
  padding: 10px 14px 9px;
  border-radius: 5px;
  position: absolute;
  top: -15px;
  left: 20px;
  font-size: 12px;
  font-weight: 700;
}

.p-topic__txbox04::before {
  content: "お知らせ";
  background: #999999;
  color: #fff;
  padding: 10px 14px 9px;
  border-radius: 5px;
  position: absolute;
  top: -15px;
  left: 20px;
  font-size: 12px;
  font-weight: 700;
}

.p-topic li {
  width: 240px;
}

@media screen and (max-width: 1050px) {
  .p-topic li {
    width: 23%;
  }
}

@media screen and (max-width: 900px) {
  .p-topic li {
    width: 48%;
    margin-bottom: 4%;
  }
}

.p-topic__item02,
.p-topic__item03 {
  margin-top: 50px;
}

@media screen and (max-width: 900px) {
  .p-topic__item02,
  .p-topic__item03 {
    margin-top: 0;
  }
}

.p-topic__text {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #666;
  font-weight: 400;
}

.p-topic__bximg {
  display: block;
  width: 100%;
  background-position: center center;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}

@media screen and (max-width: 900px) {
  .p-topic__bximg {
    position: relative;
    height: auto;
  }
  .p-topic__bximg::before {
    content: "";
    display: block;
    padding-top: 65%;
  }
}
