.p-txbox {
  position: relative;
  display: block;
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  border-radius: 0 0 10px 10px;
  padding: 30px 20px 20px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #666;
  font-weight: 400;
}

.p-txbox_text h2 {
  color: #0d6fb8;
  font-size: 16px;
  margin: 8px 0 18px;
}
