@charset "UTF-8";
/**
 * Print Style
 */
/**=========================================
* Print
=========================================*/
html,
body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", "メイリオ", Meiryo, sans-serif;
  height: 100%;
}

input {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", "メイリオ", Meiryo, sans-serif !important;
}

img {
  height: auto !important;
}

.hide-on-desktop {
  height: 0 !important;
  display: none !important;
}

html body {
  zoom: 90% !important;
}

* html body {
  zoom: 90% !important;
}

body {
  -webkit-print-color-adjust: exact;
  width: 1024px !important;
}

.print-break {
  page-break-before: always !important;
}

.l-footer #js-footer-nav {
  position: absolute !important;
  top: 0px !important;
  bottom: inherit !important;
  opacity: 1 !important;
}
