@charset "UTF-8";
body {
  margin: 0;
  font: normal normal normal 62.5%/1 "GENJ", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "Open Sans", osaka, Arial, Verdana, sans-serif;
  padding: 0;
  background-color: #fff;
  background-color: white;
  position: relative;
  color: #333;
  text-rendering: optimizeLegibility;
  font-feature-settings: "palt" 1;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

img {
  width: 100%;
  vertical-align: bottom;
  -ms-interpolation-mode: bicubic;
  interpolation-mode: bicubic;
  -webkit-backface-visibility: hidden;
  image-rendering: crisp-edges;
  -webkit-image-rendering: crisp-edges;
}

li {
  list-style: none;
}

p {
  display: block;
}

#l-header {
  position: relative;
  z-index: 500;
  background-image: url("/assets/image/header_top_bg.png");
  background-repeat: repeat-x;
  background-position: top center;
  margin: 0;
}

#l-header::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -12px;
  height: 12px;
  width: 100%;
  background-image: url("/assets/image/menu_u_nami.png");
  background-position: center;
  background-repeat: repeat-x;
}

@media screen and (max-width: 800px) {
  #l-header {
    background-image: url("/assets/image/header_top_bg_sp.png");
    background-position: top center;
    background-repeat: repeat-x;
    background-size: 728px 34px;
  }
}

#l-main {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 800px;
  background-image: url("/assets/image/main01.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  margin: 0;
}

#l-main::after {
  content: "";
  position: absolute;
  bottom: -75px;
  background-image: url("/assets/image/main_bottom_bg.png");
  width: 100%;
  height: 176px;
  background-repeat: repeat-x;
  background-position: bottom center;
  text-align: center;
  z-index: 200;
  margin: 0;
}

#l-news {
  position: relative;
  padding: 200px 0 240px;
  box-sizing: border-box;
  background: url("/assets/image/top_news_bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #f6f6f6;
  margin: 0;
  width: 100%;
  height: 100%;
}

#l-news ul {
  display: flex;
  max-width: 1080px;
  margin: 10px auto 0 auto;
  justify-content: space-between;
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#l-news::before {
  content: "";
  position: absolute;
  background-image: url("/assets/image/top_news_illust.png");
  background-size: cover;
  z-index: 600;
  width: 244px;
  height: 145px;
  background-repeat: no-repeat;
  background-position: bottom center;
  display: block;
  text-align: center;
  left: 0;
  right: 0;
  top: 20px;
  margin: auto;
}

#l-news::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-image: url("/assets/image/top_about_tpbg.png");
  width: 100%;
  height: 176px;
  background-repeat: repeat-x;
  background-position: bottom center;
  text-align: center;
  z-index: 200;
  margin: 0;
}

#l-about {
  width: 100%;
  background-image: url("/assets/image/top_about_bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  margin-top: 115px;
  margin-bottom: 108px;
  position: relative;
}

#l-about h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
}

#l-about::before {
  content: "";
  position: absolute;
  background-image: url("/assets/image/top_about_illust.png");
  background-size: cover;
  z-index: 600;
  width: 223px;
  height: 140px;
  background-repeat: no-repeat;
  background-position: bottom center;
  display: block;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  top: -190px;
}

@media screen and (max-width: 800px) {
  #l-about {
    border-radius: 5px;
  }
}

#l-footer {
  width: 100%;
  position: absolute;
  margin: 0;
  background-image: url("/assets/image/footer_illust_bg2.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background: #eeeeee;
}

#l-footer::before {
  content: "";
  position: absolute;
  bottom: -105px;
  display: block;
  background: url("/assets/image/footer_nami.png");
  width: 100%;
  height: 60px;
  background-position: bottom center;
  text-align: center;
  margin: 0;
  left: 0;
  top: -50px;
}

#l-footer::after {
  content: "";
  display: block;
  width: 164px;
  height: 91px;
  position: absolute;
  left: 0;
  right: 0;
  top: -85px;
  margin: auto;
  background: url("/assets/image/logo_illust.png");
  background-size: cover;
}

/* COMPONENT */
.c-btn__pagetop {
  display: block;
  position: absolute;
  top: -25px;
  z-index: 500;
  text-transform: uppercase;
  left: calc(50% + 550px);
  width: 58px;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  color: #0d6fb8;
}

@media screen and (max-width: 1280px) {
  .c-btn__pagetop {
    left: auto;
    right: 30px;
  }
}

.c-btn__link {
  width: 100%;
  max-width: 300px;
  display: block;
  position: relative;
  width: 300px;
  height: 40px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 700;
  color: #ef9998;
  border: 3px solid #ef9998;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background: #fff;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 800px) {
  .c-btn__link {
    width: 100%;
    height: 34px;
    margin: 0 auto;
    font-size: 11px;
    border: 2px solid #ef9998;
    -moz-border-radius: 34px;
    -webkit-border-radius: 34px;
    border-radius: 34px;
    padding-top: 10px;
  }
}

.c-btn__link--sml {
  width: calc(100% - 20px);
  display: block;
  position: relative;
  height: 40px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 700;
  color: #ef9998;
  border: 3px solid #ef9998;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background: #fff;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 980px) {
  .c-btn__link--sml {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .c-btn__link--sml {
    width: 100%;
    height: 34px;
    margin: 0 auto;
    font-size: 11px;
    border: 2px solid #ef9998;
    -moz-border-radius: 34px;
    -webkit-border-radius: 34px;
    border-radius: 34px;
    padding-top: 10px;
  }
}

.c-cmaplink {
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 30px;
  text-align: center;
  background: #fff;
  border: 2px solid #333;
  font-size: 14px;
  font-weight: 700;
  color: #333;
  padding-top: 6px;
  box-sizing: border-box;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

.c-copyright {
  color: #ffffff;
  font-weight: 900;
  text-align: center;
  font-size: 11px;
}

.c-date {
  font-size: 12px;
  color: #999;
  margin: 0 auto;
}

.c-entitle {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  color: #0d6fb8;
}

.c-logo_entitle {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  color: #0d6fb8;
}

.c-logo__text {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 270px;
}

.c-logo__text img {
  display: inline-block;
  text-align: center;
  width: 195px;
  height: 71px;
}

.c-logo__text::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  width: 0;
  height: 50px;
  border-left: 1px dotted #d2d2d2;
}

.c-logoillust__footer {
  width: 197px;
  margin-bottom: 17px;
}

.c-menu__entitle {
  font-size: 9px;
  font-weight: 900;
  color: #f3aaa9;
}

.c-pagetop {
  width: 37px;
  margin-bottom: 7px;
}

.c-phone {
  font-size: 36px;
  width: 280px;
  margin: 0 auto;
  font-weight: 700;
  padding-left: 30px;
  box-sizing: border-box;
  position: relative;
}

.c-phone::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 4px;
  width: 25px;
  height: 32px;
  background: url(/assets/image/footer_tell_icon.png);
  background-size: cover;
}

.c-title h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
}

.c-top_about_tpbg {
  width: 100%;
}

.c-top_about_tpbg::before {
  content: url("/assets/image/top_about_illust.png");
  position: absolute;
  width: 100%;
  bottom: -20px;
  background-repeat: no-repeat;
  background-position: bottom center;
  text-align: center;
}

.c-touch {
  display: block;
  width: 137px;
  height: 117px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 195px;
  margin: auto;
}

/* PROJECT */
.p-adress__footer {
  margin: 33px auto 15px;
  text-align: center;
  position: relative;
  font-size: 15px;
}

.p-bfbox__about {
  width: calc(100% - 30px);
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px 20px 30px;
  background: #ffffff;
  padding: 20px 20px 30px;
  box-sizing: border-box;
  max-width: 1080px;
}

@media screen and (max-width: 800px) {
  .p-bfbox__about {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 12px 12px 3px;
  }
}

@media screen and (max-width: 550px) {
  .p-bfbox__about {
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.p-bfbox__about--01,
.p-bfbox__about--02,
.p-bfbox__about--03,
.p-bfbox__about--04,
.p-bfbox__about--05 {
  display: inline-block;
  width: 19%;
  margin-left: 5px;
  position: relative;
}

@media screen and (max-width: 550px) {
  .p-bfbox__about--01,
  .p-bfbox__about--02,
  .p-bfbox__about--03,
  .p-bfbox__about--04,
  .p-bfbox__about--05 {
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 15px;
  }
}

.p-bfbox__about--textarea {
  position: relative;
}

.p-bfbox__about--textarea h2 {
  font-size: 18px;
  color: #0d6fb8;
  font-weight: 700;
  margin: 40px 0 12px;
  text-align: center;
}

@media screen and (max-width: 550px) {
  .p-bfbox__about--textarea h2 {
    font-size: 14px;
    margin: 0 0 8px;
  }
}

.p-bfbox__about--textarea p {
  font-size: 15px;
  line-height: 22px;
  width: calc(100% - 10px);
  padding-left: 10px;
  margin-bottom: 14px;
  color: #333;
}

@media screen and (max-width: 800px) {
  .p-bfbox__about--textarea p {
    font-size: 12px;
    line-height: 15px;
    width: 100%;
    padding-left: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 550px) {
  .p-bfbox__about--textarea {
    display: inline-block;
    width: calc(49% - 15px);
    padding: 36px 0 0 0;
    margin-left: 15px;
    box-sizing: border-box;
  }
}

.p-bfbox__about > .p-bfbox__about--01 > .p-bximg__about::after {
  content: "";
  display: block;
  width: 51px;
  height: 51px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  top: 167px;
  margin: auto;
  background-image: url("/assets/image/bfbox_icon01.png");
  background-size: cover;
}

.p-bfbox__about > .p-bfbox__about--02 > .p-bximg__about::after {
  content: "";
  display: block;
  width: 48px;
  height: 44px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  top: 167px;
  margin: auto;
  background-image: url("/assets/image/bfbox_icon02.png");
  background-size: cover;
}

.p-bfbox__about > .p-bfbox__about--03 > .p-bximg__about::after {
  content: "";
  display: block;
  width: 60px;
  height: 48px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  top: 167px;
  margin: auto;
  background-image: url("/assets/image/bfbox_icon03.png");
  background-size: cover;
}

.p-bfbox__about > .p-bfbox__about--04 > .p-bximg__about::after {
  content: "";
  display: block;
  width: 37px;
  height: 58px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  top: 167px;
  margin: auto;
  background-image: url("/assets/image/bfbox_icon04.png");
  background-size: cover;
}

.p-bfbox__about > .p-bfbox__about--05 > .p-bximg__about::after {
  content: "";
  display: block;
  width: 50px;
  height: 58px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  top: 167px;
  margin: auto;
  background-image: url("/assets/image/bfbox_icon05.png");
  background-size: cover;
}

@media screen and (max-width: 550px) {
  .p-bfbox__about > .p-bfbox__about--01 > .p-bfbox__about--textarea::after {
    content: "";
    display: block;
    width: 26px;
    height: 26px;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background-image: url("/assets/image/bfbox_icon01.png");
    background-size: cover;
  }
  .p-bfbox__about > .p-bfbox__about--02 > .p-bfbox__about--textarea::after {
    content: "";
    display: block;
    width: 24px;
    height: 23px;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background-image: url("/assets/image/bfbox_icon02.png");
    background-size: cover;
  }
  .p-bfbox__about > .p-bfbox__about--03 > .p-bfbox__about--textarea::after {
    content: "";
    display: block;
    width: 30px;
    height: 25px;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background-image: url("/assets/image/bfbox_icon03.png");
    background-size: cover;
  }
  .p-bfbox__about > .p-bfbox__about--04 > .p-bfbox__about--textarea::after {
    content: "";
    display: block;
    width: 19px;
    height: 30px;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background-image: url("/assets/image/bfbox_icon04.png");
    background-size: cover;
  }
  .p-bfbox__about > .p-bfbox__about--05 > .p-bfbox__about--textarea::after {
    content: "";
    display: block;
    width: 25px;
    height: 30px;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background-image: url("/assets/image/bfbox_icon05.png");
    background-size: cover;
  }
}

.p-bird__about--lbird {
  position: absolute;
  top: 200px;
  left: calc(50% + 366px);
  width: 126px;
}

.p-bird__about--rbird {
  position: absolute;
  width: 62px;
  top: 170px;
  left: calc(50% + 523px);
}

.p-bximg__about {
  display: block;
  width: 100%;
  background-position: center center;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  border-radius: 10px 10px 0 0;
  margin: 0 auto;
}

.p-bximg {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  z-index: 1;
  position: relative;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
}

.p-center__footer {
  padding-top: 20px;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.p-cloud__main {
  height: 110px;
}

.p-cloud__main--lkumo {
  position: absolute;
  width: 147px;
  height: 86px;
  left: -111px;
  top: -51px;
}

.p-cloud__main--rkumo {
  position: absolute;
  width: 272px;
  height: 110px;
  right: -118px;
  top: -64px;
}

.p-grn__about {
  position: absolute;
  overflow: hidden;
  top: -15px;
  left: 0;
  right: 0;
  width: 100%;
  height: 250px;
  z-index: 100;
}

.p-grn__about--lgrn {
  position: absolute;
  width: 265px;
  height: 100px;
  z-index: 20;
  right: calc(50% + 430px);
}

.p-grn__about--rgrn {
  position: absolute;
  width: 181px;
  height: 76px;
  z-index: 20;
  left: calc(50% + 510px);
}

.p-illustarea__about {
  position: absolute;
  top: -190px;
  left: 0;
  right: 0;
  width: 100%;
  height: 400px;
  z-index: 300;
}

.p-inner__header {
  position: relative;
  text-align: center;
  background-image: url("/assets/image/header_illust_bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 480px 91px;
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 35px;
}

@media screen and (max-width: 800px) {
  .p-inner__header.-pc {
    display: none !important;
  }
  .p-sp.-on {
    display: flex !important;
    position: relative;
    text-align: center;
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
    padding: 35px 0 30px;
    background-image: url("/assets/image/header_illust_bg.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 480px 91px;
  }
}

.p-inner__header--bird01 {
  position: absolute;
  width: 55px;
  left: 80px;
}

.p-inner__header--bird02 {
  position: absolute;
  width: 57px;
  top: 59px;
  left: 140px;
}

.p-inner__header--bird03 {
  position: absolute;
  width: 57px;
  top: 15px;
  left: 300px;
}

.p-inner__header--logoillust {
  display: inline-block;
  width: 164px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .p-inner__about {
    width: 100%;
    background-image: url("/assets/image/top_about_ctbg_sp.jpg");
    background-position: center 90px;
    background-repeat: repeat-y;
    background-size: 800px 527px;
    overflow: hidden;
    position: relative;
  }
}

.p-inner__footer {
  position: relative;
  background: #eeeeee;
  height: 430px;
  padding-top: 30px;
  padding-top: 20px;
  box-sizing: border-box;
}

.p-inner__footer::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -6px;
  width: 100%;
  height: 430px;
  background-image: url("/assets/image/footer_illust_bg2.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
}

/*
.  {
  display: flex;
  box-sizing: border-box;
  max-width: 1080px;
  width: 100%;
  margin: 5px auto 0 auto;
  padding: 0 15px;
}
*/
.p-logotext__footer {
  display: block;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.p-nami__tnami {
  background: #7fc6ee;
  height: 30px;
  width: 100%;
  position: relative;
  margin: 53px 0 0;
}

.p-nami__tnami::before {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: -16px;
  left: 0;
  background: url(/assets/image/footer_t_nami.png) repeat-x 0 0;
  width: 100%;
  height: 16px;
  overflow: hidden;
  animation: loop 150s linear infinite;
}

.p-nami__unami {
  background: #0d6fb8;
  height: 53px;
  width: 100%;
  position: relative;
  margin: 0;
  padding-top: 24px;
  box-sizing: border-box;
}

.p-nami__unami::before {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: -16px;
  left: 0;
  background: url(/assets/image/footer_u_nami.png) repeat-x 0 0;
  width: 100%;
  height: 16px;
  overflow: hidden;
  -moz-animation: loop 100s linear infinite;
  animation: loop 100s linear infinite;
}

.p-nav {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0;
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.p-nav__item {
  display: inline-block;
  position: relative;
  text-align: center;
  width: calc(100% / 6 - 45px);
  margin: 0;
}

.p-nav__item::before {
  content: "";
  position: absolute;
  top: 36px;
  left: 0;
  width: 0;
  height: 50px;
  border-left: 1px dotted #d2d2d2;
}

.p-nav_sp {
  display: none;
}

.p-nav__item--illust01 {
  width: 55px;
  height: 56px;
}

.p-nav__item--illust02 {
  width: 80px;
  height: 46px;
}

.p-nav__item--illust03 {
  width: 75px;
  height: 48px;
}

.p-nav__item--illust04 {
  width: 53px;
  height: 50px;
}

.p-nav__item--illust05 {
  width: 65px;
  height: 57px;
}

.p-nav__item--illust06 {
  width: 57px;
  height: 52px;
}

.p-nav__title {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  margin-bottom: 8px;
}

.p-smenu {
  display: none;
}

@media screen and (max-width: 800px) {
  .p-smenu {
    width: 24px;
    height: 30px;
    position: absolute;
    top: 140px;
    right: calc(8% - 12px);
    cursor: pointer;
    z-index: 9998;
  }
}

.p-textarea h2 {
  color: #0d6fb8;
  font-weight: 700;
  font-size: 37px;
  margin: 40px 0 20px;
  text-align: center;
}

.p-textarea p {
  font-size: 15px;
  line-height: 26px;
  width: calc(100% - 30px);
  padding-left: 20px;
  margin-bottom: 14px;
  color: #333;
}

@media screen and (max-width: 800px) {
  .p-textarea p {
    font-size: 12px;
    line-height: 18px;
    width: calc(100% - 10px);
    padding-left: 10px;
    margin-bottom: 10px;
  }
}

.p-topic__txbox01,
.p-topic__txbox02,
.p-topic__txbox03,
.p-topic__txbox04 {
  position: relative;
  width: 100%;
  background: #fff;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  padding: 30px 20px 20px;
  box-sizing: border-box;
}

.p-topic__txbox01::before {
  content: "今日のどろんこ";
  background: #f3aaa9;
  color: #fff;
  padding: 10px 14px 9px;
  border-radius: 5px;
  position: absolute;
  top: -15px;
  left: 20px;
  font-size: 12px;
  font-weight: 700;
}

.p-topic__txbox02::before {
  content: "園長先生の今日の一曲";
  background: #6bba6e;
  color: #fff;
  padding: 10px 14px 9px;
  border-radius: 5px;
  position: absolute;
  top: -15px;
  left: 20px;
  font-size: 12px;
  font-weight: 700;
}

.p-topic__txbox03::before {
  content: "お知らせ";
  background: #999999;
  color: #fff;
  padding: 10px 14px 9px;
  border-radius: 5px;
  position: absolute;
  top: -15px;
  left: 20px;
  font-size: 12px;
  font-weight: 700;
}

.p-topic__txbox04::before {
  content: "お知らせ";
  background: #999999;
  color: #fff;
  padding: 10px 14px 9px;
  border-radius: 5px;
  position: absolute;
  top: -15px;
  left: 20px;
  font-size: 12px;
  font-weight: 700;
}

.p-topic li {
  width: 240px;
}

@media screen and (max-width: 1050px) {
  .p-topic li {
    width: 23%;
  }
}

@media screen and (max-width: 900px) {
  .p-topic li {
    width: 48%;
    margin-bottom: 4%;
  }
}

.p-topic__item02,
.p-topic__item03 {
  margin-top: 50px;
}

@media screen and (max-width: 900px) {
  .p-topic__item02,
  .p-topic__item03 {
    margin-top: 0;
  }
}

.p-topic__text {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #666;
  font-weight: 400;
}

.p-topic__bximg {
  display: block;
  width: 100%;
  background-position: center center;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}

@media screen and (max-width: 900px) {
  .p-topic__bximg {
    position: relative;
    height: auto;
  }
  .p-topic__bximg::before {
    content: "";
    display: block;
    padding-top: 65%;
  }
}

.p-trbox__about {
  display: flex;
  width: calc(100% - 30px);
  background: #ffffff;
  margin: 30px auto 10px;
  padding: 20px 20px 30px;
  box-sizing: border-box;
  max-width: 1080px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
}

@media screen and (max-width: 800px) {
  .p-trbox__about {
    display: block;
    border-radius: 5px;
    margin: 26px auto 10px;
    padding: 12px 12px 24px;
    z-index: 100;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
}

.p-trbox__about01,
.p-trbox__about02,
.p-trbox__about03 {
  width: 32.7%;
  display: block;
  position: relative;
}

@media screen and (max-width: 800px) {
  .p-trbox__about01,
  .p-trbox__about02,
  .p-trbox__about03 {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .p-trbox__about01,
  .p-trbox__about02 {
    margin-bottom: 34px;
  }
}

.p-trbox__01 {
  display: block;
  position: absolute;
  top: 0;
  right: 145px;
  width: 135px;
  height: 115px;
  background-image: url("/assets/image/tr_link_01bg.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-color: #bde1ab;
  margin-right: 15px;
}

@media screen and (max-width: 1300px) {
  .p-trbox__01 {
    right: 160px;
  }
}

.p-trbox__01::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 13px;
  background-image: url("/assets/image/tr_link_01icon.png");
  background-size: cover;
  background-repeat: repeat-x;
  background-position: top center;
  width: 55px;
  height: 47px;
  margin: auto;
}

.p-trbox__02 {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 135px;
  height: 115px;
  background-image: url("/assets/image/tr_link_02bg.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-color: #98d5e1;
}

@media screen and (max-width: 1300px) {
  .p-trbox__02 {
    right: 15px;
  }
}

.p-trbox__02::before {
  content: "";
  position: absolute;
  background-image: url("/assets/image/tr_link_02icon.png");
  background-size: cover;
  background-repeat: repeat-x;
  background-position: top center;
  width: 43px;
  height: 52px;
  left: 0;
  right: 0;
  top: 13px;
  margin: auto;
}

.p-trbox__text {
  text-align: center;
  color: #0d6fb8;
  font-size: 20px;
  font-weight: 900;
  padding-top: 85px;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
}

.p-trbox__about > .p-trbox__about01 > .p-bximg::after {
  content: "";
  display: block;
  width: 73px;
  height: 62px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  bottom: -25px;
  margin: auto;
  background-image: url("/assets/image/trbox_icon01.png");
  background-size: cover;
}

.p-trbox__about > .p-trbox__about02 > .p-bximg::after {
  content: "";
  display: block;
  width: 65px;
  height: 78px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  bottom: -25px;
  margin: auto;
  background-image: url("/assets/image/trbox_icon02.png");
  background-size: cover;
}

.p-trbox__about > .p-trbox__about03 > .p-bximg::after {
  content: "";
  display: block;
  width: 59px;
  height: 64px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  bottom: -20px;
  margin: auto;
  background-image: url("/assets/image/trbox_icon03.png");
  background-size: cover;
}

.p-txbox {
  position: relative;
  display: block;
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  border-radius: 0 0 10px 10px;
  padding: 30px 20px 20px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #666;
  font-weight: 400;
}

.p-txbox_text h2 {
  color: #0d6fb8;
  font-size: 16px;
  margin: 8px 0 18px;
}

@media screen and (max-width: 550px) {
  .p-bfimg__about {
    display: inline-block;
    width: 50%;
    margin: 0 auto;
  }
}

/* UTILITY */
