#l-about {
  width: 100%;
  background-image: url("/assets/image/top_about_bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  margin-top: 115px;
  margin-bottom: 108px;
  position: relative;

  h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("/assets/image/top_about_illust.png");
    background-size: cover;
    z-index: 600;
    width: 223px;
    height: 140px;
    background-repeat: no-repeat;
    background-position: bottom center;
    display: block;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    top: -190px;
  }

  @media screen and (max-width: 800px) {
    border-radius: 5px;
  }
}