#l-news {
  position: relative;
  padding: 200px 0 240px;
  box-sizing: border-box;
  background: url("/assets/image/top_news_bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #f6f6f6;
  margin: 0;
  width: 100%;
  height: 100%;

  ul {
    display: flex;
    max-width: 1080px;
    margin: 10px auto 0 auto;
    justify-content: space-between;
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("/assets/image/top_news_illust.png");
    background-size: cover;
    z-index: 600;
    width: 244px;
    height: 145px;
    background-repeat: no-repeat;
    background-position: bottom center;
    display: block;
    text-align: center;
    left: 0;
    right: 0;
    top: 20px;
    margin: auto;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    background-image: url("/assets/image/top_about_tpbg.png");
    width: 100%;
    height: 176px;
    background-repeat: repeat-x;
    background-position: bottom center;
    text-align: center;
    z-index: 200;
    margin: 0;
  }
}